<link rel="stylesheet" type="text/css" href="../assets/css/menuLateral.css">
<script src="../assets/js/menuLateral.js"></script>

<div class="bodyMenu">
  <img  id="logo" src="/webfolioAdmin/assets/img/LogoFolio.png">
  <a class="item" href="{{web_dir}}home">
      início
  </a>
  <a class="item" onclick="submenu()">usuários<div class="arrow"></div></a>
  <div id="submenuUsuario">
    <a href="{{web_dir}}administradores" class="subitem">administradores</a>
    <a href="{{web_dir}}propositores" class="subitem">propositores</a>
  </div>
  <a class="item" href="#">                             <!--ToDo: adicionar link aqui-->
      portfólios
  </a>
  <a class="item" href="{{web_dir}}turmas">                             <!--ToDo: adicionar link aqui-->
      turmas
  </a>
</div>
