<style>
  .bodyMenu {
      height: 100%;
      width: 230px;
      position: fixed;
      z-index: 1; /* Stay on top */
      top: 0;
      left: 0;
      background-color: #6b6b6b;
      overflow-x: hidden;
      padding-top: 60px; /* Place content 60px from the top */
      padding-left: 32px;
  }

  /* When you mouse over the navigation links */
  .bodyMenu a:hover, .offcanvas a:focus{
      font-weight: 300;
      color: #FFF;
  }

  .item, .subitem{
    font-family: Roboto;
    text-decoration: none;
    display: block;
    font-weight: 100;
    color: #d8d8d8;
    cursor: pointer;
  }
  /* Menu links */
  .item {
    padding: 8px 8px 8px 0px;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .subitem{
    padding: 8px 8px 8px 25px;
    margin-bottom: 13px;
    font-size: 15px;
    font-style: italic;
  }
  #submenuUsuario{
    display: none;
  }
  #logo{
    margin-bottom: 50px;
  }
</style>

<div class="bodyMenu">
  <img  id="logo" src="/webfolioAdmin/assets/img/LogoFolio.png">
  <a class="item" href="#">
      início
  </a>
  <a class="item" onclick="submenu()">usuários</a>
  <div id="submenuUsuario">
    <a href="#" class="subitem">administradores</a>
    <a href="#" class="subitem">propositores</a>
    <a href="#" class="subitem">tutores</a>
    <a href="#" class="subitem">alunos</a>
  </div>
  <a class="item" href="#">
      portfólios
  </a>
  <a class="item" href="#">
      turmas
  </a>
</div>

<script>
  function submenu() {
      var x = document.getElementById("submenuUsuario");
      if (x.style.display == "none") {
          x.style.display="block";
      } else {
          x.style.display="none";
      }
  }
</script>
